body{
  background-color: #34c9eb;
}

p{
  display: inline;
  font-size: 2rem;
}

.heading{
  text-align: center;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 4rem;
}

.description{
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  text-align: center;
  margin-left: 8%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

th{
  font-size: 3rem;
}

td{
  font-size: 2rem;
  font-weight: bold;
}

.underweight{
  background-color: #eb9934;
}

.healthy{
  background-color: #34eb68;
}

.overweight{
  background-color: #eb5c34;
}

.obese{
  background-color: #eb3434;
}

.calculator{
  background-color: #348feb;
  border: 2px solid ;
  border-color: black;
  position : absolute;
  width: 20%;
  height: 40%;
  margin-left: 38%;
  text-align: center;
}

.values{
  width: 60%;
}

.result{
  margin-left: -40%;
}

#hidden{
  opacity: 0;
}
